body{
    background:
        url('../imgs/bgr1.png') left no-repeat,
        url('../imgs/bgr2.png') right top no-repeat,
        #eeeeee;
}

main{
    background-color: #ffffff;
    max-width: 780px;
    margin: 0 auto;
    font: 16px;
}
nav > ul > li{
    font: 1.9em;
    display: inline-block;
    padding: 10px 20px;
    line-height: 40px;
}

.content{
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
}

#game{
    height: 400px;
    border: 1px solid gray;
    position: relative;
}

#code-here{

}

.time-text{
    float: left;
    padding-right: 20px;
}

.time{
    max-width: 600px;
    margin-top: 5px;
}

#answers-container{
    background-color: #2c3e50;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#possible-answers{
    max-width: 500px;
    margin: 0 auto;
}

#possible-answers > ul > li > a{
    margin: 0 5px;
    padding: 10px;
    min-width: 100px;
}

#players{
    float: right;
}